.Main {
    text-align: center;
}
.MainContainer {
    width: 100%;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    background-image: url("./microphone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.MainGradientContainer {
    background-image: linear-gradient(45deg, black, transparent);
    height: 100vh;
}
.MainContent {
    display: inline-block;
    padding: 42px 0;
    width: 960px;
}
.MainTitle {
    color: #fff;
    padding: 24px 0px 24px 0px;
    letter-spacing: 1px;
    font-size: 72px;
    line-height: 1.17;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 600;
}
.MainSubscr {
    font-weight: 400;
    color: #fff;
    padding: 15px 32px 30px 32px;
    font-size: 22px;
    line-height: 1.55;
    font-family: 'Roboto',Arial,sans-serif;
}
.MainCallToAction {
    margin-top: 45px;
}
.MainCallToActionButton {
    color: #0a8fc4;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 30px;
    display: inline-block;
    font-family: 'Roboto',Arial,sans-serif;
    height: 60px;
    border: 0 none;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: bold;
    background-image: none;
    cursor: pointer;
    user-select: none;
}
.SecondScreen {
    height: 100vh;
    background-color: #ffffff;
}
.SecondScreenContent {
    display: inline-block;
    padding: 42px 0;
    width: 1200px;
}
.SecondScreenTitle {
    margin-bottom: 30px;
    font-size: 42px;
    line-height: 52px;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 600;
    color: #000000;
    text-align: center;
}
.SecondScreenSubscr {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    line-height: 1.50;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 300;
    color: #000000;
    margin-bottom: 40px;
}
.SecondScreenTable {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0;
    display: table;
    clear: both;
}
.SecondScreenTableItem {
    text-align: center;
    max-width: 360px;
    display: inline;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;

}
.SecondScreenTextWrapper {
    padding-left: 20px;
    padding-right: 20px;
}
.SecondScreenTextHeader {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.17;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 600;
    color: #000000;
}
.SecondScreenTextDescr {
    font-size: 16px;
    line-height: 1.55;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 300;
    color: #000000;
}
