.marg-left-8 {
  margin-left: 8px;
}

.text-center {
  text-align: center;
}

.no-outline {
  outline: none;
}
/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/
