/* stylelint-disable */
/*
* Этот файл сгенерирован автоматически. Не надо править его руками.
*/
:root {
    --accent: #528bcc;
    --action_sheet_action_foreground: #2787f5;
    --action_sheet_separator: rgba(0, 0, 0, 0.12);
    --activity_indicator_tint: #aeb7c2;
    --attach_picker_tab_active_background: #5181b8;
    --attach_picker_tab_active_icon: #ffffff;
    --attach_picker_tab_active_text: #5181b8;
    --attach_picker_tab_inactive_background: #c4c8cc;
    --attach_picker_tab_inactive_icon: #ffffff;
    --attach_picker_tab_inactive_text: #909499;
    --background_content: #ffffff;
    --background_highlighted: rgba(0, 0, 0, 0.12);
    --background_keyboard: #e1e3e6;
    --background_light: #f9f9f9;
    --background_page: #ebedf0;
    --background_suggestions: #ffffff;
    --button_bot_shadow: #c4c8cc;
    --button_commerce_background: #4bb34b;
    --button_commerce_foreground: #ffffff;
    --button_muted_background: #f2f3f5;
    --button_muted_foreground: #5181b8;
    --button_outline_border: #528bcc;
    --button_outline_foreground: #528bcc;
    --button_primary_background: #5181b8;
    --button_primary_foreground: #ffffff;
    --button_secondary_background: rgba(0, 57, 115, 0.10);
    --button_secondary_foreground: #45678f;
    --button_tertiary_background: rgba(0, 0, 0, 0.00);
    --button_tertiary_foreground: #5181b8;
    --cell_button_foreground: #528bcc;
    --content_placeholder_icon: #99a2ad;
    --content_placeholder_text: #818c99;
    --content_tint_background: #f5f5f5;
    --content_tint_foreground: #7f8285;
    --control_background: #ebedf0;
    --control_foreground: #5181b8;
    --control_tint: #ffffff;
    --control_tint_muted: #76787a;
    --counter_primary_background: #528bcc;
    --counter_primary_text: #ffffff;
    --counter_secondary_background: #aaaeb3;
    --counter_secondary_text: #ffffff;
    --destructive: #e64646;
    --field_background: #f2f3f5;
    --field_border: rgba(0, 0, 0, 0.12);
    --field_error_background: #faebeb;
    --field_error_border: #e64646;
    --field_valid_border: #4bb34b;
    --field_text_placeholder: #909499;
    --float_button_background: #f5f5f5;
    --float_button_background_highlighted: #ebedf0;
    --float_button_foreground: #99a2ad;
    --float_button_border: rgba(0, 0, 0, 0.05);
    --header_alternate_background: #ffffff;
    --header_alternate_tab_active_indicator: #528bcc;
    --header_alternate_tab_active_text: #528bcc;
    --header_alternate_tab_inactive_text: #909499;
    --header_background: #5181b8;
    --header_background_before_blur: #346cad;
    --header_background_before_blur_alternate: #ffffff;
    --header_search_field_background: #28436e;
    --header_search_field_tint: #92b2d6;
    --header_tab_active_background: rgba(173, 211, 255, 0.32);
    --header_tab_active_text: #ffffff;
    --header_tab_active_indicator: #ffffff;
    --header_tab_inactive_text: rgba(194, 222, 255, 0.80);
    --header_text: #ffffff;
    --header_text_alternate: #000000;
    --header_text_secondary: rgba(255, 255, 255, 0.60);
    --header_tint: #ffffff;
    --header_tint_alternate: #528bcc;
    --icon_alpha_placeholder: #ffffff;
    --icon_medium: #909499;
    --icon_outline_medium: #818c99;
    --icon_outline_secondary: #99a2ad;
    --icon_secondary: #aaaeb3;
    --icon_tertiary: #c4c8cc;
    --im_attach_tint: #5181b8;
    --im_bubble_border_alternate: #e1e3e6;
    --im_bubble_border_alternate_highlighted: #d7d8d9;
    --im_bubble_button_background: rgba(0, 57, 115, 0.10);
    --im_bubble_button_foreground: #45678f;
    --im_bubble_incoming: #ebedf0;
    --im_bubble_incoming_alternate: #ffffff;
    --im_bubble_incoming_alternate_highlighted: #f9f9f9;
    --im_bubble_incoming_highlighted: #d7d8d9;
    --im_bubble_gift_background: #f4ebd6;
    --im_bubble_gift_text: #7a6c4f;
    --im_bubble_gift_text_secondary: #9e8f72;
    --im_bubble_outgoing: #cce4ff;
    --im_bubble_outgoing_alternate: #ffffff;
    --im_bubble_outgoing_highlighted: #add3ff;
    --im_bubble_outgoing_alternate_highlighted: #f9f9f9;
    --im_forward_line_tint: #45678f;
    --im_reply_sender_text: #5181b8;
    --im_reply_separator: #5181b8;
    --im_toolbar_voice_msg_background: #99a2ad;
    --im_toolbar_separator: #001d3d;
    --image_border: rgba(0, 0, 0, 0.08);
    --input_background: #f2f3f5;
    --input_border: #e1e3e6;
    --landing_background: #528bcc;
    --landing_login_button_background: rgba(0, 28, 61, 0.24);
    --landing_login_button_foreground: #ffffff;
    --landing_primary_button_background: #ffffff;
    --landing_primary_button_foreground: #2c2d2e;
    --landing_tertiary_button_background: rgba(0, 0, 0, 0.00);
    --landing_tertiary_button_foreground: rgba(194, 222, 255, 0.80);
    --landing_text_title: #ffffff;
    --landing_text_secondary: rgba(255, 255, 255, 0.60);
    --landing_secondary_button_background: rgba(255, 255, 255, 0.15);
    --landing_secondary_button_foreground: #ffffff;
    --landing_snippet_border: rgba(0, 0, 0, 0.00);
    --like_text_tint: #ff3347;
    --link_alternate: #5181b8;
    --loader_background: #ebedf0;
    --loader_tint: #76787a;
    --loader_track_fill: #e1e3e6;
    --loader_track_value_fill: #528bcc;
    --media_overlay_button_background: #ffffff;
    --media_overlay_button_foreground: #2c2d2e;
    --modal_card_background: #ffffff;
    --modal_card_border: rgba(0, 0, 0, 0.00);
    --modal_card_header_close: #000000;
    --music_playback_icon: #000000;
    --feed_recommended_friend_promo_background: #528bcc;
    --overlay_status_background: #ebedf0;
    --overlay_status_foreground: #6d7885;
    --overlay_status_icon: #818c99;
    --placeholder_icon_background: rgba(0, 29, 61, 0.08);
    --placeholder_icon_foreground_primary: #99a2ad;
    --placeholder_icon_foreground_secondary: #aeb7c2;
    --placeholder_icon_tint: #001d3d;
    --poll_option_background: #45678f;
    --search_bar_background: #ebedf0;
    --search_bar_field_background: #ffffff;
    --search_bar_field_tint: #99a2ad;
    --search_bar_segmented_control_tint: #818c99;
    --segmented_control_bar_background: rgba(0, 0, 0, 0.00);
    --segmented_control_tint: #99a2ad;
    --selection_off_icon: #c4c8cc;
    --separator_alpha: rgba(0, 0, 0, 0.15);
    --separator_alternate: #e1e3e6;
    --separator_common: #d7d8d9;
    --snippet_background: #ffffff;
    --snippet_border: rgba(0, 0, 0, 0.15);
    --snippet_icon_tertiary: #c4c8cc;
    --splashscreen_icon: #e1e3e6;
    --statusbar_alternate_legacy_background: rgba(0, 0, 0, 0.30);
    --stories_skeleton_loader_background: #c4c8cc;
    --switch_ios_off_border: #e1e3e6;
    --tabbar_active_icon: #2975cc;
    --tabbar_background: #f9f9f9;
    --tabbar_inactive_icon: #99a2ad;
    --toolbar_attach_background_from: #b8c1cc;
    --toolbar_attach_background_to: #a3adb8;
    --text_action_counter: #818c99;
    --text_link: #3c6a9e;
    --text_link_hightlighted_background: #000000;
    --text_muted: #2c2d2e;
    --text_name: #45678f;
    --text_placeholder: #818c99;
    --text_primary: #000000;
    --text_secondary: #909499;
    --text_subhead: #76787a;
    --text_tertiary: #aaaeb3;
    --icon_name: #74a2d6;
    --panel_tab_active_background: #ebedf0;
    --panel_tab_active_text: #5d5f61;
    --panel_tab_inactive_text: #76787a;
    --im_service_message_text: #818c99;
    --writebar_icon: #99a2ad;
}
/* stylelint-enable */