.Item {
    margin-bottom: 4px;
}

.ItemContainer {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.ItemText {
    display: inline-block;
}

.ItemFileName {
    font-size: 16px;
    color: #000000
}

.ItemFileSize {
    font-size: 12px;
    color: #909499
}

