.App {
    min-height: 100vh;
}

.HeaderWrapper {
    background-color: #2a5885;
    color: white;
}

.AppHeader {
    height: 48px;
    display: flex;
    align-content: center;
    align-items: center;
    width: 960px;
    margin: 0 auto;
}

.HeaderLeftSide {
    display: flex;
    align-items: center;
}

.AppLogo {
    animation: App-logo-spin infinite 20s linear;
    height: 24px;
}

.HeaderRightSide {
    text-align: right;
    flex: 1 0 auto;
}

.ContentWrapper {
    background-color: #edeef0;
}

.AppContent {
    width: 960px;
    margin: 0 auto;
    min-height: calc(100vh - 64px);
    padding: 8px 0;
    box-sizing: border-box;
}

.Panel {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 8px rgba(0,0,0,.2),0 3px 4px rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12)!important;
    height: 48px;
    padding: 0 24px;
    display: flex;
    align-items: center;
}

.MainBlock {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 8px rgba(0,0,0,.2),0 3px 4px rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12)!important;
    margin: 8px 0 0;
    min-height: calc(100vh - 146px);
    padding: 0 16px 16px;
}

.NameColumn {
    word-wrap: break-word;
}

.DurationColumn {
    text-align: center;
    width: 120px
}

.CostColumn {
    text-align: center;
    width: 100px
}

.TimeCreatedColumn {
    text-align: center;
    width: 160px
}
.TrashColumn {
    text-align: center;
    width: 40px;
    cursor: pointer;
}

@keyframes AppLogoSpin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
